<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="appName" value="YOUR_APP_NAME"/><!--`Application Name-->
    <add key="appId" value="YOUR_APP_ID"/><!--`Application Id-->
    <add key="client_id" value="CLIENT_ID"/><!--`Client Id-->
    <add key="client_secret" value="CLIENT_SECRET"/><!--Secret Key-->
  </appSettings>
</configuration>