<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="appName" value="7thFaxApplication"/><!--`Application Name-->
    <add key="appId" value="6e867232bc6d4c26aca2707b75511657"/><!--`Application Id-->
    <add key="client_id" value="e78946f28da14e3d97d3e1bb31fbcf19"/><!--`Client Id-->
    <add key="client_secret" value="dtaNkE5r-FDt7A_rARvqEBHDEa6HZhWMGNhGvGc2pnQ"/><!--Secret Key-->
  </appSettings>
</configuration>